<p></p>
<div class="card bg-light" style="width: 40rem;">
    <img style="width: 100%" src="/../../assets/home-image.jpg">
    <div class="card-body text-center">
        <h5 class="card-title" style="text-align: center;">Volunteer Login</h5>
        <button type="button" class="btn btn-primary mr-25" (click)="openFindOpportunities('arsalan')">Arsalan Login</button>
        <button type="button" class="btn btn-primary mr-25" (click)="openFindOpportunities('vaibhav')">Vaibhav Login</button>
        <button type="button" class="btn btn-primary mr-25" (click)="openFindOpportunities('general')">General Login</button>
    </div>
</div>
