<p>find-opportunities works!</p>

<div class="col-md-10 mt-4 individual-name-bio">
    <div class="card profile-card-4">
        <div class="card-body card-img-block">
            <div class="info-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <img class="img-fluid" src="https://images.pexels.com/photos/965157/pexels-photo-965157.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Card image cap">
        </div>
        <div class="card-body pt-5">
            <div class="col-md-8"> 
                
            <img src="https://randomuser.me/api/portraits/women/14.jpg" alt="profile-image" class="profile"/>
            <div class="col-md-8 individual-name-bio">
                <div class="bio">
                <h5 class="card-title">Gail Schmidt</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
            </div>
           </div>
            <!-- <div class="icon-block text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div> -->
        </div>
    </div>
</div>