<p></p>

<div class="row mx-0 px-3">
    <div class="col-md-10 individual-card">
        <div class="card mb-20" *ngFor="let card of cards">
                <div class="profile-card-4">
                    <!-- <div class="card-img-block">
                        <div class="info-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        <img class="img-fluid" src="https://images.pexels.com/photos/965157/pexels-photo-965157.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Card image cap">
                    </div> -->
                    <div class="card-body pt-5">
                        <div class="col-md-8 row"> 
                        <img class="profile profile-size" [src]="card.profile" alt="profile-image"/>
                        <div class="col-md-8 individual-name-bio">
                            <div class="bio">
                            <h5 class="card-title">{{card.name}}</h5>
                            <p class="card-text">{{card.descr}}</p>
                            <p class="card-text">{{card.home}}</p>
                            <span class="badge badge-pill badge-primary" *ngFor="let interest of card.interests"
                            [ngClass]="{'badge-p1': interest=='biking', 'badge-p2': interest=='eating',
                            'badge-p3': interest=='sleeping', 'badge-p4': interest=='hiking', 'badge-p5': interest=='singing',
                            'badge-p6': interest=='dancing'}"
                            >{{interest}}</span>   
                            </div>
                        </div>
                        
                    </div>
                        <!-- <div class="icon-block text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div> -->
                    </div>
                </div>
            
        </div>
    </div>
</div>

